Q1.1 Solution:

In [13]:
# define reduce function
def myreduce(functn, iterable_seq) :
  result = iterable_seq[0] 
  for x in range(1,len(iterable_seq)) :
    result = functn(result,iterable_seq[x])
  return result

# test myreduce() function, ex: to find the maximum value in a given sequence.
myreduce(lambda a,b:max(a,b),[12,35,3,65,2])

65

Q1.2 Solution

In [15]:
# define filter function
def myfilter(functn, iterable_seq) :
  result = [] 
  for x in iterable_seq :
    if functn(x) :
      result.append(x)
  return result

# test myfilter() function. ex: to filter even numbers from given sequence of numbers.
myfilter(lambda a:a%2==0,[12,35,3,65,2])

[12, 2]

Q2 Solution

In [20]:
lst1 = [a*b for a in ["x","y","z"] for b in range(1,5) ]
lst1

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [25]:
lst2 = [a*b for a in range(1,5) for b in ["x","y","z"] ]
lst2

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [29]:
lst3_temp1 = [[a+b] for a in range(2,5) for b in range(3)] 
lst3_temp2 = [[a+b for a in range(2,6)] for b in range(4)]
lst3 = lst3_temp1 + lst3_temp2
print(lst3,end='')

[[2], [3], [4], [3], [4], [5], [4], [5], [6], [2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [32]:
lst4 = [(b,a) for a in range(1,4) for b in range(1,4)]
lst4

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]